.icon-48-synchronizationrules {
      background-image: url(../images/l_synchronizationrules.png);
      padding-left:60px!important;
}

.icon-48-synchronizationrule {
      background-image: url(../images/l_synchronizationrules.png);
      padding-left:60px!important;
}

